body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
h1 {
    display: flex;
    align-items: center;
    font-size: larger;
    text-align: center;
    justify-content: space-around;
    font-size: 50px;
    margin-bottom: 0%;
}
ul {
   list-style: none; 
}
#ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}
.btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
#rock, #paper, #sissors {
    display: flex;
    min-width: 200px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: larger;
    border-radius: 40px;
}
#scoreBoard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#round, #result, #score {
    display: flex;
    min-width: 250px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex: 3;
}
#round {
    font-size: larger;
}
h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#round, #result, #score {
    border: solid 2px;
    justify-content: center;
    font-size: larger;
}
#score {
    display: flex;
    flex-direction: column;
}
#result {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
#submit {
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border-width: 2px;
}
#win {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-size: 50px;
    margin: 20px;
}
#rounds {
    margin: 0;
}